@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
 /* overflow: hidden; */

}


.container {
   width: 100%;
   height: 100vh;
   background-color: rgb(253, 248, 248);
    display: flex;
  flex-direction: column;
  /* margin-left: 130px; */
  /* background-color: blue; */

}

.nav_bar {
  /* width: 100%; */
  /* height: 50vh; */
  background-color: rgb(254, 254, 144);
  display: flex;
  justify-content: center;
  padding: 8px;
  /* font-weight: lighter; */

}

.nav_bar button {
  background-color: black;
  color: rgb(245, 230, 230);
  /* width: 5%; */
  font-size: 12px;
  border: none;
  margin-left: 20px;
  /* padding: 20px; */
  /* margin-top: 18px; */
  border-radius: 2px;
  margin-top: 5px;
  width: 8%;
  height: 30px;
}

.nav_bar h6 {
  padding-top: 10px;
  font-size: 17px;
  font-weight: 800;
  letter-spacing: -0px;
}


.navbar {
  height: 50px;
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  /* background-color: rgb(249, 248, 247); */

}

.navbar ol {
  width: 40%;
  display: flex;
  align-items: center;
  font-size: smaller;
  justify-content: center;
  justify-content: space-between;
  list-style-type: none;
  font-weight: 800;
  font-size: 17px;
  color: rgb(102, 101, 101);


}

.navbar span {
  font-size: smaller;
  display: flex;
  align-items: center;
  font-size: smaller;
  justify-content: center;
  justify-content: space-between;

}

.navbar img {
  width: 30px;

}

.navbar button {
  background-color: black;
  color: rgb(192, 189, 189);
  height: 40px;
  width: 33%;
  font-size: smaller;
  border-radius: 3px;
  font-weight: 400;
}


.text-inner {

  width: 85%;
  height: 450px;
  margin: 30px;
  margin-left: 200px;
  /* margin-bottom: 100px; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(255, 250, 250);
}

.star-section {
  display: flex;
  margin: 20px;
}

.star-section h6 {
  font-size: 15px;
  margin-left: -30px;
}

.text-inner h1 {
  /* font-weight: 400px; */
  letter-spacing: -1px;
  line-height: 45px;
  font-size: 35px;
  margin-top: 10px;
  font-family: 'Dongle', sans-serif;
  /* font-family: 'Kanit', sans-serif; */
  /* font-family: 'Kanit', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
}

.text-inner p {
  width: 100%;
  font-size: 19px;
  line-height: 20px;
  color: rgb(0, 0, 0);
  margin-top: 10px;
}

.text-inner h6 {
  font-size: 17px;
}

#img2 {
  width: 55%;
  /* height: 30px; */

  padding-right: 40px;
}

#Read-more {
  font-size: 19px;
  color: grey;
  padding-bottom: 5px;

}

#Read-more a {
  font-size: 18px;
  list-style: normal;
  color: black;
  font-weight: 800;
  font-style: italic;
}

.text-inner span {
  width: 200px;
  display: flex;
  font-weight: 100;
  flex-direction: column;
  font-size: smaller;
  justify-content: space-between;
}

span p {
  font-size: 20px;
  font-weight: 800;
  color: rgb(73, 71, 71);
}

.text-inner button {
  width: 30%;
  height: 45px;
  background-color: black;
  color: white;
  margin-left: 10px;
  border-radius: 2px;
  margin-bottom: 10px;

}

#p {
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 60px;
  color: rgb(136, 135, 135);
  width: 60%;


}

#p a {
  font-size: 17px;
  text-decoration: none;
  color: black;
  font-weight: 800;
}

hr {
  width: 90%;
  color: grey;
}

.star-section {
  margin-top: 50px;
}
.main-container{
  display: flex;
 justify-content: space-between;

}

#img3 {
  width: 58%;
  margin-left: 400px;
  margin-top: 20px;
  
}







.footer{
  background-color: #ffffff;
  height: 10vh;
}
li img{
  height: 30px;
  padding-left: 10px;
}
.footer ol {
 
  margin-top: 50px; 
  display: flex;
  justify-content: space-around;
 list-style: none;


}